html {
    margin: 0;
    scroll-behavior: smooth;
}


body{
    margin: 0;
    overflow: hidden;
}

main{
    display: grid;
    grid-template-columns: repeat(5,100vw);
    grid-template-rows: repeat(1,100vh);
}

.slide{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

#sombra{
    box-shadow: 20px -50px 170px 170px rgba(0,0,0,0.99) inset;
    -webkit-box-shadow: 20px -50px 170px 170px rgba(0,0,0,0.99) inset;
    -moz-box-shadow: 20px -50px 170px 170px rgba(0,0,0,0.99) inset;
    position:absolute;
    width: 1000px;
    height: 600px;
    transform:rotateX(45deg) translateZ(-70px) ;
    bottom: 0px;
    }
    #canvas{
        transform:rotateX(45deg) translateZ(-70px) ;
        bottom: 0px;
        position:absolute;
    
    }
    h1{
        color: whitesmoke;
        position: absolute;
        font-size: 9vh;
    }

    h2{
        color: whitesmoke;
        position: absolute;
        font-size: 12vh;
        border: solid whitesmoke;
        text-align: center;
        display: flex;
        align-items: center;
    }
    h1{
    top: 20vh;
    }
    
    #title{
        height: 10vh;
        width: 10vh;
        border-color: whitesmoke;
        border-width: 30px;
    }

#intro button{
    z-index: 3;
    border: solid 2px whitesmoke;
    background: transparent;
    color: whitesmoke;
    position: absolute; 
    font-size: 7vh;
    bottom: 20vh;
    animation: onOff 2s infinite;
}

#intro a{
    color: whitesmoke;
}



/*animaciones*/
@keyframes onOff{
    0%{
        opacity: 0;
    }

    20%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}
