
/*GENERAL*/
html {
    margin: 0;
    scroll-behavior: smooth;
}


body{
    margin: 0;
    overflow: hidden;
}

main{
    display: grid;
    grid-template-columns: repeat(5,100vw);
    grid-template-rows: repeat(1,100vh);
}

.slide{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: black;
}

button{
    z-index: 10;
    bottom: 50px;
    border: solid 2px whitesmoke;
    background: transparent;
    color: whitesmoke;
    font-size: 5vh;
    margin: 20px;
    text-decoration: none;
}

button a{
    color: whitesmoke;
    text-decoration: none;
    
}

/*PERSONAJES*/

.Personajes{
    z-index: 100;
    width: 50vw;
    margin: 300px;
    display: flex;
    align-items: center;
    align-content: center;
} 
 .Personajes div{
    margin: 0 50px 0 50px;
} 


a{
    z-index: 10;
    font-family: fantasy;
}


#daniel{
position:absolute;
width: 120px;
height: 190px;
background:url("../img/daniel.png") ;
animation: walk 450ms steps(5) infinite;
bottom: 15vh;
}
#mom{
    position:absolute;
    width: 120px;
    height: 190px;
    background:url("../img/mom.png") ;
    animation: walk 450ms steps(5) infinite;
    bottom: 15vh;
    }

@keyframes walk{
    0% {
        background-position-x:0 
    }
    100% {
         background-position-x: -600px  
          }
} 

.botonesDescripciones{
    position: absolute;
    display: flex;
    bottom: 3px;
}

.parrafoPersonaje{
    font-size: 25px;
    width: 70vw;
}

/* Alfombra canvas */
#sombra{
    box-shadow: 20px -50px 170px 170px rgba(0,0,0,0.99) inset;
    -webkit-box-shadow: 20px -50px 170px 170px rgba(0,0,0,0.99) inset;
    -moz-box-shadow: 20px -50px 170px 170px rgba(0,0,0,0.99) inset;
    position:absolute;
    width: 1000px;
    height: 600px;
    transform:rotateX(45deg) translateZ(-75px) ;
    bottom: -1px;
    border: solid 10px black;
    }
#canvas, #alfombra{
    transform:rotateX(45deg) translateZ(-70px) ;
    bottom: 0px;
    position:absolute;
   
}
#alfombra{
    background-color : #A03D1D;
    width: 1000px;
    height: 595px;
}

/* Portada */
h1{
    color: whitesmoke;
    position: absolute;
    font-size: 9vh;
}

h2{
    color: whitesmoke;
    position: absolute;
    font-size: 12vh;
    border: solid whitesmoke;
    text-align: center;
    display: flex;
    align-items: center;
}
h1{
    top: 20vh;
}

p{
    color: whitesmoke;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
    z-index: 5;
    width: 70vw;
}
    
#title{
    height: 10vh;
    width: 10vh;
    border-color: whitesmoke;
    border-width: 30px;
}

.boton-play{
    animation: onOff 1s infinite;
    font-size: 45px;
    color: rgb(255, 145, 0);
}

/*Intro*/
#botonHistoria{
    z-index: 3;
    border: solid 2px whitesmoke;
    background: transparent;
    color: whitesmoke;
    position: absolute; 
    font-size: 7vh;
    bottom: 20vh;
    animation: onOff 2s infinite;
}


#intro a{
    color: whitesmoke;
}

/*Historia*/
#historia {
    grid-row: 1;
    grid-column: 2;
    width: 100vw;
    position: relative;
}

#historia button{
    bottom: 50px;
    position: absolute;
    z-index: 3;
    border: solid 2px whitesmoke;
    background: transparent;
    color: whitesmoke;
    position: absolute; 
    font-size: 5vh;
    animation: onOff 2s infinite;
}

section{
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;}



.animated-text{
    z-index: 5;
    color: #fff;
    padding: 0 40px;
    height: 150px;
    overflow: hidden;
  }
  
  p .line{
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    line-height: 100px;
  }
  
  .line:first-child{
    animation: text-slider 30s infinite;
  }
  

  

/*animaciones*/
@keyframes onOff{
    0%{
        opacity: 0;
    }

    20%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

@keyframes text-slider {
    0%{
      margin-top: 0;
    }
    30%{
      margin-top: -60px;
    }
    35%{
      margin-top: -120px;
    }
    40%{
      margin-top: -180px;
    }
    45%{
      margin-top: -240px;
    }
    50%{
      margin-top: -300px;
    }
    60%{
      margin-top: -360px;
    }
    70%{
        margin-top: -420px;
    }
    80%{
        margin-top: -480px;
    }
    90%{
        margin-top: -540px;
    }
    100%{
        margin-top: -600px;
    }
  }

